Machine Learning Astronomy Related Project

In [3]:
import kagglehub 

path = kagglehub.dataset_download("datascientist97/astronomical-data")
print(f'path to dataset files {path}')

path to dataset files /home/codespace/.cache/kagglehub/datasets/datascientist97/astronomical-data/versions/1

In [ ]:
import pandas as pd
import os 

print(os.listdir(path))   #this command is to retrieve the exact file name cotaining the data

['cleaned_star_data.csv']

In [13]:
file_path = os.path.join(path, 'cleaned_star_data.csv')      #creating the file path so i can use pandas to open it
df = pd.read_csv(file_path)
df.head(10)

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3042,0.0005,0.1542,16.6,0.0,Red,M
2,2600,0.0003,0.102,18.7,0.0,Red,M
3,2800,0.0002,,16.65,0.0,Red,M
4,1939,0.000138,0.103,20.06,0.0,Red,M
5,2840,,0.11,16.98,0.0,Red,M
6,2637,0.00073,0.127,17.22,0.0,Red,M
7,2600,0.0004,0.096,17.4,0.0,Red,M
8,2650,0.00069,0.11,17.45,0.0,Red,M
9,2700,0.00018,0.13,16.05,0.0,Red,M

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Temperature (K)         239 non-null    object
 1   Luminosity(L/Lo)        239 non-null    object
 2   Radius(R/Ro)            239 non-null    object
 3   Absolute magnitude(Mv)  239 non-null    object
 4   Star type               239 non-null    float64
 5   Star color              239 non-null    object
 6   Spectral Class          239 non-null    object
dtypes: float64(1), object(6)
memory usage: 13.3+ KB